.background-work {
  &::before {
    content: '';
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #219ebc;
    opacity: 1;
    z-index: -1;
  }
}

.work {
  &-title {
    font-family: 'Oxygen', sans-serif;
    font-size: 7vw;
    text-align: center;
    padding-top: 3%;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    color: white;
  }

  &-subtitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 3vw;
    text-align: center;
    padding-top: 3%;
    color: black;
  }
}

.resume {
  width: 80%;
  height: 100%;
  text-align: center;
  padding: 5%;

  &:focus {
    width: 100%;
  }

  &-wrapper {
    text-align: center;
  }
}
